@model TopicsModel

<ul class="nav nav-pills mb-3">
    @foreach (var topic in Model.Topics)
    {
        <li class="nav-item ">
            <a class="nav-link @(topic.Id == Model.ActiveTopic?.Id ? "active" : "")" asp-controller="News" asp-action="Topics" asp-route-id="@topic.Id">@topic.Title</a>
        </li>
    }
</ul>
@if (Model.ActiveTopic != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="Page2.html">@Model.ActiveTopic.Title</li>
        </ol>
    </nav>
}
<br />

@if (Model.Articles != null)
{
    <div class="row">
        @foreach (var article in Model.Articles)
        {
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="card">
                    <img class="card-img-top" src="@article.Image" alt="Card image cap">
                     <div class="card-body">
                        <a asp-controller="News" asp-action="Article" asp-route-id="@article.Id">@article.Title</a>
                    </div>
                </div>
            </div>
        }
      
    </div>
}
